<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
 <!-- -->
 <listeners>
 <listener class-name="api.Utilities.ExtentReporter"></listener>
 </listeners>
  <test thread-count="5" name="Test">
    <classes>
      <!-- <class name="api.TestCases.userTestDataFromDP"/>-->
      <class name="api.TestCases.userTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
